# ─── Python Virtual Environments ─────────────
.venv/
.test_buildvenv/
.test_testvenv/

# ─── Build & Distribution ─────────────────────
/dist/
*.exe
/.env
.cache/
build/tischrem_blb

# ─── Python Cache & Test Artifacts ────────────
__pycache__/
/.pytest_cache/
/testing_data/

# ─── VSCode & Editor Files ────────────────────
.vscode/
.VSCodeCounter

# ─── Logs ─────────────────────────────────────
watchdog.log

# ─── Project-specific Data Folders ────────────
Data/*
!Data/.gitkeep

Upload/*
!Upload/.gitkeep
compile*.py
compile*.ps1
file_structure*.txt
/src/ipat_watchdog.egg-info
# Ignore everything in build/
build/*
# But do not ignore these:
!build/specs/
!build/.env
!build/version.txt