# ─── Python Virtual Environments ─────────────
.venv/
.build-venv/

# ─── Build & Distribution ─────────────────────
/dist/
/build/
/*.spec
*.exe
/.env
.cache/

# ─── Python Cache & Test Artifacts ────────────
__pycache__/
/.pytest_cache/
/testing_data/

# ─── VSCode & Editor Files ────────────────────
.vscode/

# ─── Logs ─────────────────────────────────────
watchdog.log

# ─── Project-specific Data Folders ────────────
Data/*
!Data/.gitkeep

Upload_Ordner/*
!Upload_Ordner/.gitkeep
