# ─── Python Virtual Environments ─────────────
.venv/
.test_buildvenv/
.test_testvenv/

# ─── Build & Distribution ─────────────────────
/dist/
*.exe
/.env
.cache/
build/tischrem_blb

# ─── Python Cache & Test Artifacts ────────────
__pycache__/
/.pytest_cache/
/testing_data/

# ─── VSCode & Editor Files ────────────────────
.vscode/

# ─── Logs ─────────────────────────────────────
watchdog.log

# ─── Project-specific Data Folders ────────────
Data/*
!Data/.gitkeep

Upload_Ordner/*
!Upload_Ordner/.gitkeep
